<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        <!-- partial:if (compileJs === true) {
        <!-- Rebuilt
        <!-- build:js scripts/vendor/jquery-2.2.4.min.js -->

        <script src="vendor/jquery/dist/jquery.js"></script>
        <!-- endbuild -->
        <!-- -->
        <!-- / } -->

        <!-- -->

        <script>window.jQuery || document.write('<script src="scripts/vendor/jquery-2.2.4.min.js"><\/script>')</script>

        <!-- partial:if (compileJs === true) {
        <!-- Rebuilt -->
        <!-- build:js scripts/main.min.js -->
        <script src="vendor/bootstrap/js/transition.js"></script>
        <script src="vendor/bootstrap/js/alert.js"></script>
        <script src="vendor/bootstrap/js/button.js"></script>
        <script src="vendor/bootstrap/js/carousel.js"></script>
        <script src="vendor/bootstrap/js/collapse.js"></script>
        <script src="vendor/bootstrap/js/dropdown.js"></script>
        <script src="vendor/bootstrap/js/modal.js"></script>
        <script src="vendor/bootstrap/js/tooltip.js"></script>
        <script src="vendor/bootstrap/js/popover.js"></script>
        <script src="vendor/bootstrap/js/scrollspy.js"></script>
        <script src="vendor/bootstrap/js/tab.js"></script>
        <script src="vendor/bootstrap/js/affix.js"></script>

        <script src="scripts/popel-validator.js"></script>
        <script src="scripts/popel-measurescroll.js"></script>
        <script src="vendor/selectize/dist/js/standalone/selectize.js"></script>

        <script src="scripts/main.js"></script>
        <!-- endbuild -->
        <!-- / } -->

        <!-- partial:if (compileJs === false) {
        <!-- Cached build -->
        <script src="scripts/main.min.js"></script>
        <!-- / } -->

        <!-- -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-XXXXX-X', 'auto');
            ga('send', 'pageview');
        </script> -->
