<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Barebones</title>
        <meta name="description" content="Barebones HTML project">
        <meta name="viewport" content="width=1024, minimal-ui">

        <!-- Favicon block -->
        <!-- Images generated from a single 260x260 image by http://realfavicongenerator.net/ -->
        <link rel="shortcut icon" href="favicon.ico">

        <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">

        <link rel="icon" type="image/png" href="favicon-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">

        <meta name="msapplication-TileColor" content="#d10d3f">
        <meta name="msapplication-TileImage" content="mstile-144x144.png">
        <meta name="msapplication-config" content="browserconfig.xml">
        <!-- / Favicon block -->

        <link rel="stylesheet" href="styles/main.min.css">

        <!-- partial:if (compileJs === true) {
        <!-- Rebuilt -->
        <!-- build:js scripts/vendor/modernizr-2.8.3.min.js -->
        <script src="vendor/modernizr/modernizr.js"></script>
        <!-- endbuild -->
        <!-- / } -->

        <!-- partial:if (compileJs === false) {
        <!-- Cached build -->
        <script src="scripts/vendor/modernizr-2.8.3.min.js"></script>
        <!-- / } -->

        <!-- -->
